@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

.wrapper {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  transition: background 0.5s ease;

  &--dark {
    background-color: #000000;
  }

  &__container {
    width: 100%;
    margin: 0px auto;
    padding: 0 123px;

    @media (max-width:1365.98px) {
        padding: 0 42px;
    }

    @media (max-width: 1023.98px) {
        padding: 0 34px;
    }

    @media (max-width: 767.98px) {
        padding: 0 20px;
    }

  }

}